# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    app.registration.form.type:
        class: AppBundle\Form\Type\RegistrationFormType
        arguments: [%fos_user.model.user.class%, "@service_container"]
        tags:
            - { name: form.type, alias: app_registration }

    app.calendar:
        class: AppBundle\Entity\Calendar
        arguments: ["@service_container"]
        tags:
            - { name: app.calendar, alias: app_calendar }

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }
